@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://use.typekit.net/dlw7vtc.css");

html {
    background-color: theme('backgroundColor.primary-dark');
    background-image: radial-gradient(theme('backgroundColor.light-blue') 1%, transparent 4%);
	background-size: 30px 30px;
	background-position: 0 0, 30px 30px;
	background-repeat: repeat;
    @apply font-muli;
}